@import '~bootstrap/scss/bootstrap';

.board {
  background-color: #0f0;
  display: flex;
}

.hide {
  display: none;
}

.failure {
  // red
  background-color: #f00;
}

.square {
  border: 0.2rem solid black;
  height: 200px;
  padding: 1rem;
}

.success {
  // green
  background-color: #080;
}
