@import '~bootstrap/scss/bootstrap';

section {
  background-color: #0f0;
  display: flex;

}

.square {
 border: 0.2rem solid black;
 padding: 1rem;
}
//
// .top {
//   border: 1px solid;
//   flex: 1
//   margin: auto;
// }
//
// .mid {
//   border: 1px solid;
//   flex: 1;
//   margin: auto;
// }
//
// .bot {
//   border: 1px solid;
//   flex: 1;
//   margin: auto;
// }

.square {
  height: 200px;
}
